<div class="ui-g ui-fluid">
  <div class="ui-sm-10 ui-sm-offset-1 ui-md-10 ui-md-offset-1 ui-lg-8 ui-lg-offset-2 ui-xl-8 ui-xl-offset-2">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1 style="text-align:center; text-decoration:underline; margin-bottom:0">Card List:</h1>
      </div>
      <div class="ui-g-12">
        <h3 style="text-align:center; margin-top:0">
          Select cards to build your deck!
          <i class="fa fa-info-circle" style="margin-left:5px" pTooltip="Click the deck icon in the top right corner to view your current selections!"></i>
        </h3>
      </div>
    </div>
    <p-card>
      <div class="ui-g">
        <div class="ui-sm-12 ui-md-12 ui-lg-10 ui-xl-10">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText [(ngModel)]="searchTerm">
            <label for="float-input">Search By: Name, Card Text, or Die Symbol</label>
          </span>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-md-offset-3 ui-lg-2 ui-lg-offset-0 ui-xl-2 ui-xl-offset-0 ui-fluid">
          <button pButton label="Clear Filters" (click)="clearFilters()"></button>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
          <p-dropdown [options]="sets" [ngModel]="selectedSet" (onChange)="setSet($event.value)" placeholder="Choose a Set" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
          <p-dropdown [options]="affiliations" [ngModel]="selectedAffiliation" (onChange)="setAffiliation($event.value)" placeholder="Choose an Affiliation"
            [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
          <p-dropdown [options]="types" [ngModel]="selectedType" (onChange)="setType($event.value)" placeholder="Choose a Type" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
          <p-dropdown [options]="rarities" [ngModel]="selectedRarity" (onChange)="setRarity($event.value)" placeholder="Choose a Rarity"
            [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
          <p-dropdown [options]="colors" [ngModel]="selectedColor" (onChange)="setColor($event.value)" placeholder="Choose a Color"
            [style]="{'width':'100%'}"></p-dropdown>
        </div>
      </div>
      <hr>
      <ng-container *ngIf="!isLoading; else loading">
        <div class="ui-g">
          <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3 sw-card-list" *ngFor="let card of cards | searchFilter: searchTerm | setFilter: selectedSet | affiliationFilter: selectedAffiliation | typeFilter: selectedType | rarityFilter: selectedRarity | topNFilter: topN | colorFilter: selectedColor">
            <sw-card [card]="card"></sw-card>
          </div>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-md-offset-3 ui-lg-4 ui-lg-offset-4">
          <button pButton label="Show More..." (click)="increaseTopN()"></button>
        </div>
      </ng-container>
      <ng-template #loading>
        <div class="ui-g">
          <div class="ui-g-2 ui-g-offset-5">
            <p-progressSpinner [strokeWidth]="5"></p-progressSpinner>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>