<div>
  <p-toolbar [style]="{'margin-top': '-25px'}">
    <div class="ui-toolbar-group-left">
      <button pButton icon="fa-bars"></button>
    </div>
    <div class="ui-toolbar-group-right">
      <button pButton icon="fa-book" (click)="toggleDeckSide()"></button>
    </div>
  </p-toolbar>
  <div style="margin-top: 25px">
    <sw-card-list></sw-card-list>
  </div>
  <button *ngIf="scrolled" class="go-to-top" (click)="gotoTop()">
    <i class="fa fa-chevron-up"></i>
  </button>
  <p-sidebar [(visible)]="isDeckVis" [position]="'right'" [blockScroll]="true">
    <div class="ui-g">
      <div class="ui-g-12">
        <h2>Current Deck List:</h2>
      </div>
      <div *ngIf="deckSize === 0" class="ui-g-12">
        <h3>You have not selected any cards!</h3>
      </div>
      <div *ngIf="selectedCharacters" class="ui-g-12">
        <h3>Characters:</h3>
        <hr>
        <div *ngFor="let character of selectedCharacters">
          <sidebar-card [card]="character" (charAddedVis)="addCharacter($event)"></sidebar-card>
        </div>
      </div>
      <div *ngIf="selectedUpgrades" class="ui-g-12">
        <h3>Upgrades:</h3>
        <hr>
        <div *ngFor="let upgrade of selectedUpgrades">
          <sidebar-card [card]="upgrade" (deckAddedVis)="addCard($event)"></sidebar-card>
        </div>
      </div>
      <div *ngIf="selectedSupports" class="ui-g-12">
        <h3>Supports:</h3>
        <hr>
        <div *ngFor="let support of selectedSupports">
          <sidebar-card [card]="support" (deckAddedVis)="addCard($event)"></sidebar-card>
        </div>
      </div>
      <div *ngIf="selectedEvents" class="ui-g-12">
        <h3>Events:</h3>
        <hr>
        <div *ngFor="let event of selectedEvents">
          <sidebar-card [card]="event" (deckAddedVis)="addCard($event)"></sidebar-card>
        </div>
      </div>
    </div>
  </p-sidebar>
</div>

<p-dialog header="Deck Full!" [(visible)]="deckAddedVis" [modal]="true">
  <h3>You cannot add "{{tryAddCard}}" to the deck because your deck is already full.</h3>
</p-dialog>

<p-dialog header="Character Pool Full!" [(visible)]="charAddedVis" [modal]="true">
  <h3>You cannot add "{{tryAddCard}}" to the deck because your deck would have too many characters.</h3>
</p-dialog>