<div>
  <p-toolbar [style]="{'margin-top': '-64px'}">
    <span class="ui-toolbar-group-left">
      <button [style.display]="isHome ? 'none' : 'inherit'" pButton icon="fa-bars" (click)="toggleSidebar()"></button>
      <a [routerLink]="['/home']">
        <img class="navbar-logo" [src]="'./assets/logo.jpg'" />
        <h2 class="navbar-text">Builder</h2>
      </a>
    </span>
    <div class="ui-toolbar-group-right">
      <button *ngIf="!isHome" pButton icon="fa-book" (click)="toggleDeckSide()"></button>
    </div>
  </p-toolbar>
  <div style="margin-top: 64px">
    <router-outlet (activate)="checkComponent($event)"></router-outlet>
  </div>
  <button *ngIf="scrolled" class="go-to-top" (click)="gotoTop()">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>
<p-sidebar [(visible)]="isSidebarVis">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <img [routerLink]="['/home']" class="sidebar-logo" [src]="'./assets/logo.jpg'" (click)="toggleSidebar()" />
    </div>
    <div class="ui-g-12">
      <button pButton label="Card List" icon="fa-bandcamp" [routerLink]="['/cards']" (click)="toggleSidebar()"></button>
    </div>
    <div class="ui-g-12">
      <button pButton label="Deck List" icon="fa-book" [routerLink]="['/decks']" (click)="toggleSidebar()"></button>
    </div>
  </div>
</p-sidebar>
<p-sidebar [(visible)]="isDeckVis" [position]="'right'" [blockScroll]="true">
    <div class="ui-g">
      <div class="ui-g-12">
        <h2 style="text-decoration:underline">Current Deck List:</h2>
      </div>
      <div *ngIf="deckSize > 0" class="ui-g-12">
        <h4 style="margin:0">{{cardDeckSize}} non-character card(s) selected</h4>
      </div>
      <div *ngIf="deckSize === 0" class="ui-g-12">
        <h3>You have not selected any cards!</h3>
      </div>
      <div *ngIf="selectedCharacters" class="ui-g-12">
        <h3>Characters:</h3>
        <hr>
        <div *ngFor="let character of selectedCharacters">
          <sidebar-card [card]="character" (charAddedVis)="addCharacter($event)"></sidebar-card>
        </div>
      </div>
      <div *ngIf="selectedUpgrades" class="ui-g-12">
        <h3>Upgrades:</h3>
        <hr>
        <div *ngFor="let upgrade of selectedUpgrades">
          <sidebar-card [card]="upgrade" (deckAddedVis)="addCard($event)"></sidebar-card>
        </div>
      </div>
      <div *ngIf="selectedSupports" class="ui-g-12">
        <h3>Supports:</h3>
        <hr>
        <div *ngFor="let support of selectedSupports">
          <sidebar-card [card]="support" (deckAddedVis)="addCard($event)"></sidebar-card>
        </div>
      </div>
      <div *ngIf="selectedEvents" class="ui-g-12">
        <h3>Events:</h3>
        <hr>
        <div *ngFor="let event of selectedEvents">
          <sidebar-card [card]="event" (deckAddedVis)="addCard($event)"></sidebar-card>
        </div>
      </div>
    </div>
  </p-sidebar>
  
  <p-dialog header="Deck Full!" [(visible)]="deckAddedVis" [modal]="true">
    <h3>You cannot add "{{tryAddCard}}" to the deck because your deck is already full.</h3>
  </p-dialog>
  
  <p-dialog header="Character Pool Full!" [(visible)]="charAddedVis" [modal]="true">
    <h3>You cannot add "{{tryAddCard}}" to the deck because your deck would have too many characters.</h3>
  </p-dialog>