<div [style.background-image]="image" class="sw-card" [ngClass]="cardSelected ? 'card-selected' : ''" (mousedown)="click()">
  <div *ngIf="!card.imagesrc" class="no-image">
    <h1>{{card.name}}</h1>
    <h6>(No Image Available)</h6>
  </div>
</div>
<input *ngIf="cardSelected" type="checkbox" class="center-check" checked (change)="click()">

<p-dialog header="Deck Full!" [(visible)]="deckLimitVis" [modal]="true">
  <h3>You cannot add "{{card.name}}" to the deck because your deck is already full.</h3>
</p-dialog>

<p-dialog header="Character Pool Full!" [(visible)]="charLimitVis" [modal]="true">
  <h3>You cannot add "{{card.name}}" to the deck because your deck would have too many characters.</h3>
</p-dialog>

<p-dialog header="Already Have A Battlefield!" [(visible)]="battlefieldLimitVis" [modal]="true">
  <h3>You cannot add "{{card.name}}" to the deck because your deck already has a battlefied.</h3>
</p-dialog>

<p-dialog header="Cannot Add Plot!" [(visible)]="plotLimitVis" [modal]="true">
  <h3>You cannot add "{{card.name}}" to the deck because your deck either already has a plot or has too many character points.</h3>
</p-dialog>