<div class="ui-g">
  <div class="ui-sm-10 ui-sm-offset-1 ui-md-8 ui-md-offset-2 ui-lg-6 ui-lg-offset-3 ui-xl-6 ui-xl-offset-3">
    <div class="ui-g-12 text-center">
      <img [src]="'/assets/logo.jpg'" style="width: 100%">
      <h1>Welcome to SWD Builder!</h1>
    </div>
    <div class="ui-g-12 text-center">
      <h1>Go check out the <a [routerLink]="['/cards']">Card List</a> to start building a deck!</h1>
    </div>
    <div class="ui-g-12 text-center">
        <h1>If you already have built a deck go to the <a [routerLink]="['/decks']">Deck List</a></h1>
      </div>
  </div>
</div>